@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  margin: 0;
}
span {
  cursor: pointer;
}
#root {
  margin: 0;
}

.container {
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  margin: 0;
  background-color: #222222;
}
.container .title,
.container .subtitle {
  cursor: default;
  width: 100%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #9466FF;
  font-size: 70px;
  font-weight: 700;
  text-align: center;
}
.container .title {
  margin-top: 70px;
  margin-bottom: 50px;
}
.container .subtitle {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 60px;
}
.emoji-search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
.emoji-search .search {
  font-size: 18px;
  width: 50%;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #04D361;
  text-align: center;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}
.emoji-search .search:focus {
  height: 33px;
  border: 1px solid #039444;
  border-top: 2px solid #039444;
  border-bottom: 2px solid #039444;
  outline: none;
}
.emoji-list {
  margin: 0 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.emoji-container {
  width: 230px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
  padding: 15px;
  border-radius: 10px;
  transition: all 0.25s ease-out;
  background-color: #f3f3f3;
}
.emoji-container:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgb(3, 148, 68),
    inset 0px 0px 2px 0px rgb(3, 148, 68);
  -moz-box-shadow: 0px 0px 10px 0px rgb(3, 148, 68),
    inset 0px 0px 2px 0px rgb(3, 148, 68);
  box-shadow: 0px 0px 10px 0px rgb(3, 148, 68),
    inset 0px 0px 2px 0px rgb(3, 148, 68);
  transform: translateY(-1px);
}
.emoji-container:hover .emoji-traduzido {
  box-shadow: 0px 0px 3px 0px #9466FF;
  background-color: #9466FF;
  color: #ffffff;
}
.emoji-name,
.emoji-traduzido {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  max-width: 230px;
  border-radius: 10px;
  color: #555555;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-out;
  margin-top: 5px;
}
.emoji-image {
  width: 60px;
  margin-bottom: 10px;
}
@media (max-width: 550px) {
  .container {
    width: 100%;
  }
  .container .title {
    font-size: 50px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .container .subtitle {
    margin-bottom: 10px;
  }
  .emoji-search .search {
    width: 100%;
  }
  .emoji-container {
    margin: 0 0 20px 0;
    width: 100%;
  }
  .emoji-name,
  .emoji-traduzido {
    font-size: 18px;
    max-width: 90%;
    margin-top: 5px;
  }
  .emoji-image {
    width: 70px;
    margin-bottom: 10px;
  }
}
